doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body
        .container
            a(href="/").button return to root
            h3 Add a new videogame form
            hr
            form(method="POST")
                p Videogame's name:
                input(type="text" name="name" placeholder="Mario Kart 8")
                p Videogame's genre:
                input(type="text" name="genre" placeholder="Race")
                p Videogame's console:
                input(type="text" name="console" placeholder="Nintendo Switch")
                input(type="submit" value="Submit")