@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body, * {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.table {
}

.table tr th{
    background-color: black;
    color: white;
    padding: 0.5em 1em;
}

table tr td{
    padding: 0.5em 1em;
}